.carousel-item img {
    height: 100%;
}

.nav-item {
    font-size: 24px;

}



.categories-women,
.categories-men,
.categories-lime,
.categories-saving h1 {
    margin-top: 3em;
    margin-left: 2em;
    margin-bottom: 3em;
    font-weight: bolder;

}

span {
    color: purple;
}

.col-sm-3 {

    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.col-sm-4 {
    margin-top: 5em;
    margin-bottom: 2em;
}

.card {
    border: none;
}


.card-body a {

    opacity: 0.7;
}

.card1 {
    color: white;

}

.card1 p {
    color: white;
    display: flex;
    justify-content: start;
}


.card2 h1,
p {
    display: flex;
    justify-content: end;
}


.card3 h1,
p {
    color: black;
    display: flex;
    justify-content: end;
}

.card4 h1 {
    display: flex;
    justify-content: flex-end;
}

.card5 h1 {
    display: flex;
    justify-content: flex-end;
}

.col-sm-6 {
    margin-bottom: 10em;

}

.col-12 {
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;

}

.col-12 h1 {
    grid-row: 3;
    font-size: 4rem;
    margin-left: 3rem;

}

.col-12 p {
    color: white;
    grid-row: 1;
    margin-left: 3rem;
    margin-right: 10rem;
    font-size: 2rem;
    opacity: 0.7;
}

.col-sm-12 img {
    margin-top: 10rem;
    width: 100%;
    ;
}

.col-11 p {

    display: flex;
    justify-content: space-between;
}

.col-11 a {
    width: 6rem;
}